@charset 'utf-8';


.myfooter {
    text-align: center
}


.cardColor {
    background-color: antiquewhite !important
}

.cardTitles p {
    color: #e8574d;
}

;

// .myInputs input {
//     // background-color: antiquewhite;
//     // box-shadow: none;
//     // border-color: antiquewhite;
//     // padding: 10%;
// }

// .myInputs input:hover {
//     border-color: antiquewhite !important;
//     border-bottom: #e8574d
// }

.createButton {
    margin-left: 15%;
    margin-right: 15%;
}

.divider {
    background-color: wheat;
    height: 5px;
    margin-left: 5%;
    margin-right: 5%;
    // margin-bottom: 0px;
}

.imageHero {
    padding-top: 30px !important;
    position: relative !important;
}

.mySpan {
    background-color: wheat;
    position: absolute !important;
    bottom: 30%;
    // left: 50%;
    text-align: center;
    font-size: x-large
}

.shrtStory {
    background-color: #e8574d;
}

@import "~bulma/bulma.sass";