@charset 'utf-8';


// about page styles


.inspoOne {
    background-color: #774532;
}


.inspoOne p {
    text-align: center;
    color: wheat;
    font-size: 100px;
    text-shadow: 3px 3px black;
    font-family: fantasy;
}

;

.inspoOne img {
    border-radius: 10px;
}

.logo {
    background-color: #f2f3f5;
    color: black;
}

.logo p {
    text-align: center;
    color: #19191a;
    font-size: x-large;
    font-family: fantasy;
}

;

.ourstory {
    font-size: xx-large;
    font-family: fantasy;
    text-align: center;
    color: black;
    background-color: #f2f3f5;
}

;

.tstmnl {
    background-color: #3d3d3d;
    text-align: center;
    font-size: larger;
    font-family: fantasy;
    font-style: italic;
    color: white;
}

.undrtest {
    text-transform: uppercase;
    text-align: center;
    background-color: #774532;
    color: white;
    font-size: x-large;
    font-family: fantasy;
    text-shadow: 1px 1px #4d2c1f;
}

.myfooter {
    text-align: center
}

@import "~bulma/bulma.sass";