@charset 'utf-8';

.cardColor {
    background-color: antiquewhite !important
}

.cardTitles p {
    color: #e8574d;
}

;

// .myInputs input {
//     // background-color: antiquewhite;
//     // box-shadow: none;
//     // border-color: antiquewhite;
//     // padding: 10%;
// }

// .myInputs input:hover {
//     border-color: antiquewhite !important;
//     border-bottom: #e8574d
// }

.createButton {
    margin-left: 15%;
    margin-right: 15%;
}

.divider {
    background-color: wheat;
    height: 5px;
    margin-left: 5%;
    margin-right: 5%;
    // margin-bottom: 0px;
}

.imageHero {
    padding-top: 30px !important;
    position: relative !important;
    background-color: #dfbf83 !important;
}

.mySpan {
    background-color: rgba(245, 222, 179, .85);
    position: absolute !important;
    bottom: 30%;
    // left: 50%;
    text-align: center;
    font-size: x-large
}

.shrtStory {
    background-color: #e8574d;
}

.myNotification {
    background-color: #dfbf83 !important;
    // text-align: ;
}

.heroDivider {
    background-color: wheat;
}

//accessing the / in the breadcrumb component
.breadcrumb li+li::before {
    color: wheat !important;
}


.customList li {
    margin-bottom: 4% !important;

}

.customList li a {
    text-decoration: none !important;
}

.customList li a:hover {
    text-decoration: underline !important;
}


.myFooter {
    text-align: center
}

@import "~bulma/bulma.sass";